<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form method="POST">
                    <div class="form-group row">
                        {% csrf_token %}
                        {% if user.is_authenticated %}
                        <label class=""col-md-2>
                            <b>Select Fod To Add</b>
                        </label>
                        <select class="col-md-6 form-control" name="food_consumed" id="food_consumed">
                            {% for food in foods %}
                            <option value="{{ food.name }}">{{ food.name }}</option>
                            {% endfor %}
                        </select>
                        <button class="btn btn-success" type="sumbit">add</button>
                    </div>
                </form>

            </div>
        </div>
        

    </div>



    
        {% for c in consumed_food %}
            {{ c.food_consumed.name }} --> Carb: {{ c.food_consumed.carbs }} Proten: --> {{ c.food_consumed.protein }} --> Fats: {{ c.food_consumed.fat }} --> Calories: {{ c.food_consumed.calories }} <br>
        {% endfor %}
    {% endif %}

</body>
</html>